name: website-stalker

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "7 * * * *" # once per hour at minute 7

permissions:
  contents: write

jobs:
  website-stalker:
    runs-on: ubuntu-latest
    steps:
      - uses: EdJoPaTo/website-stalker-github-action@v1

      - uses: actions/checkout@v6

      - name: Run website-stalker
        id: website-stalker
        run: website-stalker run --all --commit
        env:
          WEBSITE_STALKER_FROM: ${{ secrets.WEBSITE_STALKER_FROM }}
          NOTIFICATION_TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          NOTIFICATION_TELEGRAM_TARGET_CHAT: "-1001569012086"
          NOTIFICATION_TELEGRAM_DISABLE_WEB_PAGE_PREVIEW: true

      - if: success() || steps.website-stalker.outcome == 'failure'
        run: git push
